* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body, #root {
    display: flex;
    min-height: 100%;
}
.App {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 20rem;
  height: 0rem;
}

.searchColumn {
    display: flex;
    flex-direction: column;
    flex-flow: column;
    background-color: #0e0e0e;
    width: 20rem;
}

.appHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 0.3rem;
    margin-bottom: 2rem;
}

.lastFmLogo {
    display: inline-block;
    color: transparent;
    height: 5rem;
    width: 20rem;
    background: url('./images/lastFmLogo.png') no-repeat center;
    margin: 0;
}

.loveIcon {
    display: inline-block;
    height: 0.8rem;
    width: 3rem;
    background: url('./images/love_solid_red.png') no-repeat center;
}

.subLogoText {
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 0.4rem;
}

h2 {
    font-size: 2rem;
    color: #dd9176;
    margin-bottom: 1rem;
    font-family: Palatino, serif;
}

.mainContent {
    flex: 0 0 100%;
    display: flex;
    align-items: stretch;
}

.artistSearch {
    color: #fff;
    flex: 0 0 20%;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}

.searchInputContainer {
    margin-bottom: 1rem;
    padding-left: 1rem;
}

.searchInputContainer::before {
    content: '';
    background: url('./images/magnifyingGlass.png') no-repeat center center;
    height: 2rem;
    width: 2rem;
    display: inline-block;
    position: relative;
    top: 0.5rem;
    left: -0.5rem;
}

.searchInput {
    background: #0e0e0e;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    height: 2rem;
    width: 13rem;
    font-size: 1.6rem;
}

.searchInput:focus {
    outline: none;
}

.artistsList {
    flex: 0 0 90%;
    display: flex;
    flex-direction: column;
    padding: 0 3rem;
}

.artist {
    cursor: pointer;
}

.selectedArtist {
    font-weight: bold;
    font-size: 1.4rem;
}

.artistTitleHeader {
    min-height: 10rem;
    background: #faf6ea;
    padding: 3rem 0 0 2rem;
}

.artistTitle {
    margin: 0;
    font-size: 4rem;
    color: #000;
}

.lastFmLink {
    font-size: 0.8rem;
    color: #0e0e0e;
    margin-left: 0.5rem;
}

.artistContainer {
    display: flex;
    padding: 1.5rem;
}

.artistBio {
    flex: 0 0 70%;
    margin-right: 2rem;
}

.description, .topTracks {
    position: relative;
}

.descriptionContainer, .tracksContainer {
    max-height: 10rem;
    overflow-y: hidden;
}

.descriptionExpanded, .tracksExpanded {
    height: auto;
    transition: max-height 16s ease-out;
    max-height: 1000rem;
    overflow-y: hidden;
}

.topTrack {
    color: #0e0e0e;
    text-decoration: none;
    font-weight: bold;
    padding: 1rem;
}

.topTrack:nth-child(2n) {
    background: #faf6ea;
}

.readMoreButton {
    position: absolute;
    bottom: -1rem;
    background: #0e0e0e;
    height: 2rem;
    width: 9rem;
    color: #fff;
    left: 41%;
    border: none;
    cursor: pointer;
}

.readMoreButtonHidden {
    display: none;
}

.readMoreButton:focus {
    outline: none;
}

.albumContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.album {
    width: 11rem;
    text-decoration: none;
    margin-bottom: 1.5rem;
}

.albumName {
    width: 11rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #0e0e0e;
    font-size: 0.8rem;
    font-weight: bold;
}

.relatedArtistsContainer {
    flex: 0 0 10rem;
}

.relatedArtist {
    cursor: pointer;
    margin-bottom: 0.5rem;
    font-weight: bold;
}